<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devicelibtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> 

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ihealth.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ihealth.devices.BP5"
            android:label="@string/title_activity_bp5" >
        </activity>
        <activity
            android:name="com.ihealth.devices.BP7"
            android:label="@string/title_activity_bp7" >
        </activity>
        <activity
            android:name="com.ihealth.devices.BP3L"
            android:label="@string/title_activity_bp3_l" >
        </activity>
        <activity
            android:name="com.ihealth.devices.BP3M"
            android:label="@string/title_activity_bp3_m" >
        </activity>
        <activity
            android:name="com.ihealth.devices.HS5BT"
            android:label="@string/title_activity_hs5_bt" >
        </activity>
        <activity
            android:name="com.ihealth.devices.HS5wifi"
            android:label="@string/title_activity_hs5_wifi" >
        </activity>
        <activity
            android:name="com.ihealth.devices.HS3"
            android:label="@string/title_activity_hs3" >
        </activity>
        <activity
            android:name="com.ihealth.devices.HS4"
            android:label="@string/title_activity_hs4" >
        </activity>
        <activity
            android:name="com.ihealth.devices.HS4S"
            android:label="@string/title_activity_hs4s" >
        </activity>
        <activity
            android:name="com.ihealth.devices.Po3"
            android:label="@string/title_activity_po" >
        </activity>
        <activity
            android:name="com.ihealth.devices.BG5"
            android:label="@string/title_activity_bg5" >
        </activity>
        <activity
            android:name="com.ihealth.devices.BG1"
            android:label="@string/title_activity_bg1" >
        </activity>
        <activity
            android:name="com.ihealth.devices.ABI"
            android:label="@string/title_activity_abi" >
        </activity>
        <activity
            android:name="com.ihealth.devices.HS6"
            android:label="@string/title_activity_abi" >
        </activity>
         <activity
            android:name="com.ihealth.devices.AM4"
            android:label="@string/title_activity_am4" >
        </activity>
    </application>

</manifest>